# 4.9 Intro to Data Visualization with Python; Task 4.9 - Part_1

## Contents list:

### 01. Importing libraries and data
### 02. Data Wrangling Procedures
### 03. Data quality and consistency checks
### 04. Combining data
### 05. Exporting data

# 01. Importing libraries and data

In [1]:
# Step 3 - Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
# Project folder path as string
path = r'C:\Users\User\Desktop\Instacart Basket Analysis'

In [3]:
# Import customers.csv data set using the os library
df_customers = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'customers.csv'), index_col=False)

In [4]:
# Check shape
df_customers.shape

(206209, 10)

In [5]:
# Check columns
df_customers.columns

Index(['user_id', 'First Name', 'Surnam', 'Gender', 'STATE', 'Age',
       'date_joined', 'n_dependants', 'fam_status', 'income'],
      dtype='object')

In [6]:
# Check basic statistic
df_customers.describe()

             user_id            Age   n_dependants         income
count  206209.000000  206209.000000  206209.000000  206209.000000
mean   103105.000000      49.501646       1.499823   94632.852548
std     59527.555167      18.480962       1.118433   42473.786988
min         1.000000      18.000000       0.000000   25903.000000
25%     51553.000000      33.000000       0.000000   59874.000000
50%    103105.000000      49.000000       1.000000   93547.000000
75%    154657.000000      66.000000       3.000000  124244.000000
max    206209.000000      81.000000       3.000000  593901.000000

# 02. Data Wrangling Procedures

In [7]:
# Step 4 - Rename columns
df_customers.rename(columns={'Gender':'gender', 'STATE':'state', 'Age':'age', 'n_dependants':'number_of_dependants', 'fam_status':'family_status'}, inplace=True)

In [8]:
# Droping columns 'First Name' and 'Surnam' for security reasons
df_customers=df_customers.drop(columns = ['First Name', 'Surnam'])

In [9]:
df_customers.head()

,user_id,gender,state,age,date_joined,number_of_dependants,family_status,income
0,26711,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Female,Maryland,26,1/1/2017,1,married,40374

In [10]:
# Re-check shape
df_customers.shape

(206209, 8)

# 03. Data quality and consistency checks

In [11]:
# Step 5 - Check for mixed-type data
for col in df_customers.columns.tolist():
  weird = (df_customers[[col]].applymap(type) != df_customers[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_customers[weird]) > 0:
    print (col)

In [12]:
# Check for missing values 
df_customers.isnull().sum()

user_id                 0
gender                  0
state                   0
age                     0
date_joined             0
number_of_dependants    0
family_status           0
income                  0
dtype: int64

In [13]:
# Check for duplicates
df_dups_customers = df_customers[df_customers.duplicated()]

In [14]:
df_dups_customers

Empty DataFrame
Columns: [user_id, gender, state, age, date_joined, number_of_dependants, family_status, income]
Index: []

In [15]:
df_dups_customers.shape

(0, 8)

# 04. Combining data

In [16]:
# Import orders_products_merged_new_columns_added2 dataframe using the os library
df_ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged_new_columns_added2.pkl'))

In [17]:
# Check shape
df_ords_prods_merge.shape

(32404859, 24)

In [18]:
# Check for data-types
df_ords_prods_merge['user_id'].dtypes

dtype('O')

In [19]:
# Check for data-types
df_customers['user_id'].dtypes

dtype('int64')

In [20]:
# Change data type to string
df_customers['user_id']=df_customers['user_id'].astype('str')

In [21]:
# Re-check for data-types
df_customers['user_id'].dtypes

dtype('O')

In [22]:
# Dropping the _merge column from df_ords_prods_merge dataframe
df_ords_prods_merge=df_ords_prods_merge.drop(columns = ['_merge'])

In [23]:
df_ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,price_range_loc,busiest_day,Busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_price,spending_flag,median__days_since_prior_order,order_frequency_flag
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,Mid-range product,Regularly busy,Regulary busy days,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,Mid-range product,Regularly busy,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,Mid-range product,Regularly busy,Slowest days,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,Mid-range product,Least busy,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,Mid-range product,Least busy,Slowest days,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer

In [24]:
# Step 6 - Combine customer data with df_ords_prods_merge df
# Merging dataframes 
df_combined_large=df_ords_prods_merge.merge(df_customers, on = 'user_id', indicator=True)

In [25]:
# Merge flag frequency
df_combined_large['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [26]:
df_combined_large.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,median__days_since_prior_order,order_frequency_flag,gender,state,age,date_joined,number_of_dependants,family_status,income,_merge
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,both
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,both
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,both
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,both
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,both

In [27]:
# Check the shape
df_combined_large.shape

(32404859, 31)

### 05. Exporting data

In [28]:
# Step 8 - Export df_combined_large dataframe in pickle format as 'dataframes_merged.pkl'    
df_combined_large.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'dataframes_merged.pkl'))